<div class="font-sans bg-white h-screen flex flex-col w-full">
 <div class="h-screen bg-gradient-to-r from-green-200 to-blue-200">
  <div class="px-4 py-48">
   <div class="relative w-full text-center">
    <h1
     class="animate-pulse font-bold text-pink-600 text-6xl mb-6">
    Tailwind on Rails rocks
    </h1>
   </div>
  </div>
 </div>
</div>